.skills {
    text-align: right;
    padding-top: 4px;
    padding-bottom: 0;
    margin-right: 15px;
    height: 0px;
    color: white;
}
.skillAbout {
  font-size: 18px;
}
  
  .html {width: 75%; background-color: #04AA6D;}
  .css {width: 70%; background-color: #2196F3;}
  .bootstrap {width: 75%; background-color: cyan;}
  .js {width: 65%; background-color: #f44336;}
  .react {width: 70%; background-color: #808080;}

//   .containerbeta{
//       width: 50%;
//   }
//   .skillItems {
//     width: 50%;
//     float: left;
// }

.shortInfoList > li {
  table-layout: fixed;
  padding: 5px 0px;
  display: table;
}
// Responsive
    /* XL Device :1200px. */
    @media (min-width: 1200px) and (max-width: 1500px) {


    }
    
    /* LG Device :992px. */
    @media (min-width: 992px) and (max-width: 1200px) {
        
    }
    
     
    /* MD Device :768px. */
    @media (min-width: 768px) and (max-width: 991px) {
      .skillAbout {
        font-size: 15px;
        // margin-top: 110px;
        margin-bottom: 25px;
      }
    }
    
     
    /* Extra small Device. */
    @media (max-width: 767px) {
    
    }
     
    /* SM Small Device :550px. */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
     
     
    }
